h1 {
  color: blue;
}
h2 {
  color: #1460aa;
}
body {
  background: #c24040;
}
.hotpink-header {
  color: white;
  text-align: center;
}
.tlo {
  background: white;
  text-align: center;
}
.przyklad {
  color: white;
}
.absolute {
  position: absolute
  right: 200px;
}