h1 {
  color: blue;
}
h2 {
  color: #1460aa;
}
body {
  background: #c24040;
}
.hotpink-header {
  color: rgb(22, 54, 114);
}
.tlo {
  background: white;
}
.przyklad {
  color: white;
}
.box {
  text-align: center;
  max-width: 10000px;
  }
  .secendary-box {
    text-align:center;
    background: yellow;
    max width: 1000px; 
    height: 30px;
    overflow:auto;
    padding: 20px 30px 40px 50px;
    border: 5px solid blue ;
    border-radius: 10px;
    margin: 5px;
    
    
  }
