h1 {
  color: blue;
}
h2 {
  color: #1460aa;
}
body {
  background: #b8b3b3;
}
.omnnie__title {
  color: rgb(22, 54, 114);
  text-align: center;
  max-width: 500px;
}
.tlo {
  background: white;
}
.przyklad {
  color: white;
}
.omnnie_descryption {
  display: block;
  text-align: center;
  max-width: 1000px;
  padding: 5px;
  border:20px red;
  }
  .navigation {
    text-align:center;
    background: rgb(17, 17, 14);
    max width: 1000px;
    height: 30px;
    
    padding: 20px ;
    border: 5px solid blue ;
    border-radius: 10px;
  
  
    z-index: 1000;
   }
   .navigation__link{
     color: rgb(6, 7, 71);
     max width: 200px;
     text-align:center;
     position:sticky;
     top: 0px;
     left:200px;
     z-index: 500;
     margin right:6px;
    

   }
   .navigation__link-homepage{
     color: yellow;

   }
.profilowe{
  padding: 10px;
  border-radius: 50%;
position: relative;
left: 300px;
}
.footer__link{
  color:inherit;
}